
/* common*/
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #010101;
}
/* common end */
/*  Header start*/
header{
    background-color: #fcdb00;
    padding: 20px 0;
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a {
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0 46px !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: #fff !important;
}


/*  Header end*/
/* Slider  start*/
.slider{
    background: #fcdb00;
    padding-bottom: 100px;
}
.cid {
    
    bottom: -88px;
   
    
}
.cid [data-bs-target] {
    
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
}
.cid .active {
    opacity: 1;
    
}
.s_text{
    margin-top: 60px;
}
.s_text h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 15px;
}
.s_text h2 {
    font-size: 20px;
    font-weight: 400;
    color: #313841;
    margin-bottom: 20px;
    margin-right: 68px;
}
.s_text p {
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 35px;
    letter-spacing: 1px;
  
}

.s_icon{}

.s_icon ul li {
    margin-right: 30px !important;
}
.s_icon ul li i{
    font-size: 40px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.s_icon ul li i:hover{
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}


/* Slider end */

/* Feature section start */
section.feature {
    padding-top: 100px;
    padding-bottom: 120px;
}
.title-heading {
    font-size: 32px;
    font-weight: 700;
}
.title-text {
    font-size: 20px;
    color: #313841;
    line-height: 25px;
}


.s_feature_item {
    margin-top: 60px;
}
.f_icon {
    margin-top: 4px;
}
.f_icon i {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-size: 50px;
   
}
.f_icon i:hover{
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8); 
}
.f_text h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}
.f_text p {
    margin-bottom: 0;
    color: #898989;
    line-height: 19px;
    letter-spacing: 1px;
}
/* Feature section end */

/** Contact start  **/
.contact{
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #010101;
}
.yellow{
    color: #fcdb00;
}
.ash{
    color: #898989;
}
.mtb_custom{
    margin-top: 40px;
    margin-bottom: 70px;
}
.c_email {
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    border: 1px solid #101010;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}
.c_email:focus {
    color: #898989;;
    background-color: #fff;
    border: 1px solid #101010;;
    outline: 0;
    box-shadow: none;
}
.btn_submit{
    width: 100%;
    height: 55px;
    background-color: #fcdb00;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.btn_submit:hover{
    color: #fff;
}
.btn_submit{
    box-shadow: none;
}
.c_social{}
.c_social ul{}
.c_social ul li {
    margin-right: 25px !important;
}
.c_social ul li:last-child{
    margin-right: 0 !important;
}
.c_social ul li a{
    display: block;
    width: 40px;
    height: 40px;
    background-color:#fcdb00 ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.c_social ul li a:hover{
    background-color: #fff;
}
.c_social ul li a i{

    font-size: 42px;
    color: #010101;
}

/** Contact End**/


/* footer area start */
footer {
    background: #010101;
    padding-bottom: 120px;
    color: white;
}
.F_2 p a {
    color: #fff;
    text-decoration: none;
}



/* footer area end*/







































